.container {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

.AdminPage {
  width: 100%;
  min-height: 100vh;
}

.category__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form {
  width: 400px;
  padding: 20px;
  border-radius: 10px;
  max-width: 100%;
  margin: 50px auto;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;

  &-container {
    padding: 70px 0;
  }

  &-title {
    margin-bottom: 20px;
    text-align: center;
  }
}


.body-background {
  background-color: #e2e8f0;
  padding: 100px;
}

// cart
